

*{
margin: 0px;
padding: 0px;
}


#div_tudo
{
	width: 100%;
	height: 100%;
}

header{
background: rgb(251, 251, 249);
width: auto;
height: 12%;
margin: 0;
padding: 5px;
}

footer{
text-align: center;
font-family: sans-serif;
font-size: 20px;
background: rgb(191, 215, 239);
width: auto;
height: 10%;
margin: 0;
text-align: center;
padding: 35 0 0 0;
}

#icones{
margin: 20 10;
float: right;
display: inline-block;
}

#icones img{
	width: 40px;
	height: 40px;
}

#icones a:hover{
	background: white;
}

#caixaTexto{
	margin-left: 2px;
}

#logo
{
background-image: url('../imagem/logo.jpg');
width: 15%;
height: 100%;
background-repeat: no-repeat;
margin: 0;
float: left;
display: inline-block;
}

#menu{
width: 37,5%;
height: 52%;
margin: 20px 280px;
text-decoration: none;
float: center;
display: inline-block;
background-color: rgb(191, 215, 239);
border-radius: 10px;
}

.btn{
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	border-radius: 10px;
}

.btn-menu{
	background: rgb(191, 215, 239);

}
.btn-menu:hover{
	background: rgb(123, 189, 225);

}

#slider{
background: rgb(191, 215, 239);
background-repeat: no-repeat;
height: 55,5%;
display: block;
margin: 0;
}

#slider img{
	margin-top: 30px;
	position: relative;
	left: 20%;
}

#servicos{
background: rgb(191, 215, 239);
width: auto;
height: 40%;
margin: 0;
padding: 5% 10% 5% 14%;
text-align: center;
font-family: sans-serif;
color: white;
}

#servico1{
border-radius: 15px 40px;
background-image: url('../imagem/imagem1.jpg');
width: 300;
height: 250;
margin: 10px;
float: left;
display: inline-block;
}


#servico2{
border-radius: 15px 40px;
background-image: url('../imagem/imagem2.jpg');
width: 300;
height: 250;
margin: 10px;
float: center;
display: inline-block;
}

#servico3{
border-radius: 15px 40px;
background-image: url('../imagem/imagem3.jpg');
width: 300;
height: 250;
margin: 10px;
float: left;
display: inline-block;
}

#saiba-mais{
background-color: rgb(191, 215, 239);
width: 100%;
height: 55px;
text-decoration: none;
display: inline-block;
}

.btn-saiba{
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
	text-decoration: none;
	border: none;
	border-radius: 10px;
	margin-left: 250px;
}

.btn-saiba2{
	background: rgb(191, 215, 239);
}

.btn-saiba2:hover{
	background: rgb(255, 190, 0);
}

#contato{
background: rgb(255,255,255);
width: auto;
height: 40%;
margin: 0;
padding: 5% 10%;
display: inline-block;
}

#endereco{
background: rgba(191, 215, 239, 0.5);
width: 30%;
height: 100%;
margin: 10 20px;
float: left;
display: inline-block;
}

#formulario{
background: rgba(191, 215, 239, 0.5);
width: 60%;
height: 100%;
margin: 10 10px;
display: inline-block;
}

.button{
	text-transform: uppercase;
	font-weight: 700;
	padding: 10px;
	cursor: pointer;
}

.button-azul{
	background: rgb(191, 215, 239);
	box-shadow: rgb(123, 189, 225);
	border-radius: 50%;

}
