* {
margin: 0;
}

header{
background:	#FF7F00;
width: auto;
height: 7%%;
margin: 0;
padding: 25px;
}

footer {
background: #C0D9D9;
width: auto;
height: 15%;
margin: 0;
}

#Onde
{
background: #FFC0CB;
width: 20%;
height: 100%;
margin: 0;
float: left;
display: inline-block;
}